.blog-admin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;

  input, select {
    padding: 0.4rem 0.8rem;
    font-size: 0.95rem;
    border: 1px solid #444;
    border-radius: 0.375rem;
    cursor: pointer;
  }
}

button {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-modal-button);
  background-color: var(--color-button-background);
  border: 1px solid var(--color-input-border);
  border-radius: 0.375rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background: var(--color-hover);
  color: var(--color-hover-text);
}

.table-container {
  margin: 0.5rem;
  flex-grow: 1;
  overflow-x: auto;
}

.blog-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;

  th, td {
    border: 1px solid #444;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: var(--color-footer-background);
    position: sticky;
    top: 0;
  }

  td:nth-child(1) { width: 500px; } /* Slug */
  td:nth-child(2) { width: 100px; } /* Published */
  td:nth-child(3) { width: 140px; } /* Updated */
  td:nth-child(4) { min-width: 220px; } /* Actions */

  .actions button {
    margin-right: 0.5rem;
  }
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.95rem;
  margin: 1rem;
}

.editor {
  margin: 0.5rem;
  border: 1px solid #666;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input, select, textarea {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
    border: 1px solid #444;
    border-radius: 0.375rem;
    width: 100%;
  }
}

.tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tabs button {
  padding: 0.4rem 1rem;
  border: 1px solid #444;
  background: #222;
  color: #ccc;
  cursor: pointer;
  border-radius: 0.4rem;
}

.tabs button.active {
  background: var(--color-active);
  color: var(--color-active-text);
}

.translation-editor label {
  display: block;
  margin-bottom: 1rem;
}

.translation-editor textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
}

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tags span {
  border: 1px solid #ccc;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  margin-right: 0.3rem;
  display: inline-block;
}

.buttons {
  display: flex;
  gap: 1rem;
}
