.analytics-tab {
  width: 100%;
  height: 100%;

  button {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-modal-button);
    background-color: var(--color-button-background);
    border: 1px solid var(--color-input-border);
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  button:hover {
    color: var(--color-hover-text);
    background-color: var(--color-hover);
  }
}

.filter-bar {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;

  input {
    padding: 0.5rem;
    border: 1px solid var(--color-input-border);
    border-radius: 0.375rem;
    font-size: 1rem;
  }
}

.button-delete-selected {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-button-delete);
  border: 1px solid var(--color-input-border);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
}

.events-table th,
.events-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

