.site-footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  background: var(--color-footer-background);
  color: var(--color-link);
}

.footer-content span {
  font-size: 0.8125rem;
  font-weight: 400;
  align-self: center;
}

@media (min-width: var(--bp-sm)) {
  .footer-content span {
    font-size: 1.5rem;
  }
}

.footer-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  color: var(--color-background);
}




