.admin-section {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.admin-section h2 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid #444;
  padding-bottom: 0.3rem;
}

.admin-section ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.admin-section li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.35rem 0.5rem;
  border-bottom: 1px solid #444;
  font-size: 0.9rem;
}

.admin-section li button {
  margin-left: auto;
}

.admin-section button {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-modal-button);
  background-color: var(--color-button-background);
  border: 1px solid var(--color-input-border);
  border-radius: 0.375rem;
  padding: 0.35rem 0.8rem;
  cursor: pointer;
}

.admin-section button:hover {
  background: var(--color-hover);
  color: var(--color-hover-text);
}

.admin-section .editor {
  border: 1px solid #666;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: rgba(0,0,0,0.1);
}

.admin-section .editor label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.85rem;
}

.uploadButton {
  max-width: fit-content;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* ================= TABLE ================= */

.admin-section table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.admin-section th,
.admin-section td {
  border: 1px solid #444;
  padding: 0.5rem;
  text-align: left;
}

.admin-section th {
  background-color: var(--color-footer-background);
}

.admin-section td:last-child {
  width: 180px;
}

.admin-section td button {
  margin-right: 0.5rem;
}

.info-table th {
  width: 10%;
  text-align: left;
  vertical-align: top;
  font-weight: 600;
  white-space: nowrap;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.file-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-url, .file-name {
  font-size: 0.85rem;
  color: #666;
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
