$blog-sm: 640px;
$blog-lg: 1007px;

.blog-page {
  display: flex;
  justify-items: center;
  width: 100%;
  max-width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  margin: 2rem auto;
}

.blog-card {
  width: 100%;

  height: fit-content;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;

  border-radius: 1.25rem;
  background: var(--color-footer-background);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.blog-card-content {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "description"
    "button_read"
    "button_share";
  grid-template-columns: 1fr;
  grid-template-rows:
    auto
    auto
    1fr
    min-content
    min-content;

  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.blog-cover-img {
  width: auto;
  height: 10.55825rem;
  background-size: cover;
  align-self: stretch;

  border-radius: 0.625rem;
  grid-area: image;
}

.blog-detail-title {
  color: var(--color-text-primary);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  grid-area: title;
}

.blog-detail-description {
  display: -webkit-box;
  width: 18.4375rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  overflow: hidden;
  color: var(--color-text-primary);
  text-overflow: ellipsis;
  font-size: 0.975rem;
  grid-area: description;
}

.btn {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.625rem;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.10) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--color-modal-text);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  &:hover {
    background: var(--color-hover);
    color: var(--color-hover-text);
  }
}

.btn-primary {
  background: var(--color-modal-button);
  grid-area: button_read;
  width: 18.725rem;
}

.btn-secondary {
  background: var(--color-modal-button-secondary);
  grid-area: button_share;
  width: 18.725rem;
}

@media (min-width: $blog-sm) {
  .blog-container {
    flex-direction: row;
  }

  .blog-page {
    max-width: 48rem;
  }

  .blog-card {
    width: 44.25rem;
    padding: 1.25rem;
    align-items: center;
    gap: 1.25rem;
  }

  .blog-card-content {
    grid-template-areas:
    "image image title title"
    "image image button_read button_share"
    "description description description description";

    grid-template-columns: 4fr;
  }

  .blog-cover-img {
    height: 12.38475rem;
  }

  .blog-detail-title {
    font-size: 1.5rem;
  }

  .blog-detail-description {
    width: 41.0125rem;
    height: 6.4375rem;
    font-size: 1.125rem;
    -webkit-line-clamp: 4;
  }

  .btn {
    height: 4.3125rem;
  }

  .btn-primary {
    width: 9rem;
  }

  .btn-secondary {
    width: 6.5rem;
  }
}

@media (min-width: $blog-lg) {
  .blog-page {
    max-width: 80rem;
    gap: 2.5rem;
  }

  .blog-card {
    width: 65rem;
  }

  .blog-card-content {
    grid-template-areas:
    "image title title title"
    "image description description description"
    "image button_read button_share button_share";

    grid-template-columns: 4fr;
  }

  .blog-cover-img {
    height: 15.875rem;
  }

  .blog-detail-title {
    width: 35.6875rem;
    height: 3.75rem;
  }

  .blog-detail-description {
    width: 35.6875rem;
    height: 6.4375rem;
    -webkit-line-clamp: 4;
  }

  .btn {
    height: 3.75rem;
  }

  .btn-primary {
    width: 12.575rem;
  }

  .btn-secondary {
    width: 8.725rem;
  }
}

/* === Open post view === */

.blog-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 20rem;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem;
  transition: all 0.3s ease;
}

.blog-thumbnail-page {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 5rem;
  gap: 1rem;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}

.thumbnail-card {
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  height: auto;
  position: relative;
}
.thumbnail-card:focus,
.thumbnail-card:hover {
  transform: translateY(-3px);
}

.blog-thumbnail-cover-img {
  width: 5rem;
  max-width: 5rem;
  height: auto;
  background-size: cover;
  background-position: center;
  padding-top: 56.25%;
}

.blog-post-area {
  width: 100%;
  max-width: 15rem;
  overflow-y: auto;
  max-height: 100%;
  transition: all 0.3s ease;
  display: block;
}

@media (min-width: $blog-sm) {
  .blog-container {
    max-width: 44rem;
    gap: 1.5rem;
  }

  .blog-thumbnail-page {
    max-width: 14rem;
  }

  .blog-thumbnail-cover-img {
    width: 14rem;
    max-width: 14rem;
  }

  .blog-post-area {
    max-width: 30rem;
  }

}

@media (min-width: $blog-lg) {
  .blog-container {
    max-width: 80rem;
    gap: 1.5rem;
  }

  .blog-thumbnail-page {
    max-width: 20rem;
    padding-right: 1.5rem;

    flex: 1;
    flex-direction: column;
  }

  .blog-thumbnail-cover-img {
    width: 20rem;
    max-width: 20rem;
  }

  .blog-post-area {
    max-width: 45rem;
    padding-left: 1.5rem;
  }
}
