:root {
  --color-background: #F8F8F8;
  --color-text-primary: #141414;
  --color-hover: #41ECFF;
  --color-active: #76FF9F;
  --color-error: #FF9169;
  --color-link: #777;
}

.dark-theme {
  --color-background: #282828;
  --color-text-primary: #F8F8F8;
  --color-hover: #00333A;
  --color-active: #003316;
  --color-error: #3D1100;
}
